.justify { text-align: justify; }
.marked { background-color: black; width: auto; height: auto; color: white; padding: 1rem;}
.space-left { margin-left: 2rem; }
.space { height: 3rem; }
p { font-size: 1.5rem !important; }

/* correctores */
.nav-wrapper { padding-left: 2rem; padding-right: 2rem; }